<table class="table">
	<tr>
		<td>
			Sub Total
		</td>
        <td>
        	${{basket.subTotal}}
        </td>

	</tr>
	 <tr>

        <td>
			Shipping
		</td>
        <td>
        	 $8.99
        </td>
     </tr>
      <tr class="shadow-sm p-3 mb-5 bg-light rounded ">

        <td class="success">
			Total
		</td>
        <td class="success">
        	 ${{basket.subTotal + 8.99}}
        </td>
     </tr>


</table>