{% extends 'templates/app.twig' %}

{% block content %}

       <div class="row">
               <div class="col-md-4">

               <img src="{{product.image }}" alt="{{product.title}} image" class="thumbnail img-responsive">

               </div>

               <div class="col-md-8">

               	{% if product.hasLowStock() %}

               	    <span class="badge badge-warning" >Low stock </span>

               	{% endif %}

               	{% if product.outOfStock() %}

               	    <span class="badge badge-danger" >Out of stock </span>

               	{% endif %}
               
               <h3>{{product.title}}</h3>
               <p>{{product.description}}</p>

               {% if product.inStock() %}
               <a role="button" class="btn btn-primary" href="">Add to cart </a>
               {% endif %}

               </div>

              

       </div>


{% endblock %}